---
import { Image } from "astro:assets";
import slugify from "../ts/slugify.ts";
interface Props {
  countryName: string;
  flag: string;
  population: string;
  region: string;
  capital: string;
}

const { countryName, flag, population, region, capital } = Astro.props as Props;
// console.log({ countryName, flag, population, region, capital });
---

<div class="card show" id={countryName} data-contient={region.toLowerCase()}>
  <a href={`country/${slugify(countryName)}`}> </a>
  <div class="card-img">
    <Image
      width={250}
      height={150}
      src={flag}
      alt={countryName}
      transition:name={countryName + "-img"}
    />
  </div>
  <div class="card-info">
    <h3>{countryName}</h3>
    <ul>
      <li>
        <span>Population:</span>
        <span>{population ? population?.toLocaleString() : "0"}</span>
      </li>
      <li>
        <span>Region:</span>
        <span>{region || "None"}</span>
      </li>
      <li>
        <span>Capital:</span>
        <span>{capital || "None"}</span>
      </li>
    </ul>
  </div>
</div>
