---
import slugify from "../ts/slugify";
import { type Country } from "../ts/types";

// Destructure the props object
const { country, countires } = Astro.props as {
  country: Country; // The country object
  countires: Country[]; // The list of all countries
};

// Destructure the country object
const {
  name = { nativeName: "", common: "" },
  tld = [],
  currencies = [],
  capital = [],
  region = "",
  subregion = "",
  languages = [],
  population = 0,
  flags = { png: "" },
  borders = [],
  maps = { googleMaps: "" },
} = country;

// Get the native name of the country
const nativeName = name?.nativeName
  ? Object.values(name?.nativeName)[0]?.common
  : "";

// Get the top level domain of the country
const topLevelDomain = tld ? tld[0] : "";

// Get the names of the currencies used in the country
const currencyNames = currencies
  ? Object.values(currencies)
      .map((c) => c.name)
      .join(", ")
  : "None";

// Get the link to the border countries
const borderCountries = borders
  ? borders.map((border) => {
      // Find the country object of the border
      const borderCountry = countires.find((c) => c.cca3 === border);
      // Return the link to the border country
      return borderCountry ? borderCountry.name.common : "#";
    })
  : "";
---

<div class="container country-info-container">
  <button class="back" id="back-btn" title="Back">
    <span class="arrow">←</span>
    <span class="stay">B</span>
    <span class="out">ack</span>
    <span class="in">ACK</span>
  </button>
  <div class="country-info">
    <div class="image">
      <a href={maps.googleMaps} target="_blank" title="View on Google Maps"></a>

      <img src={flags.png} alt={name.common} />
      <!-- transition:name={name.common + "-img"} -->
    </div>
    <div class="info">
      <h1>{name.common}</h1>
      <div class="lists">
        <ul class="list">
          <li>
            <span>Native Name:</span>
            <span>{nativeName}</span>
          </li>
          <li>
            <span>Population:</span>
            <span>{population ? population.toLocaleString() : "0"}</span>
          </li>
          <li>
            <span>Region:</span>
            <span>{region || "None"}</span>
          </li>
          <li>
            <span>Sub Region:</span>
            <span>{subregion || "None"}</span>
          </li>
          <li>
            <span>Capital:</span>
            <span>{capital ? capital : "None"}</span>
          </li>
        </ul>
        <ul class="list">
          <li>
            <span>Top Level Domain:</span>
            <span>{topLevelDomain || "None"}</span>
          </li>
          <li>
            <span>Currencies:</span>
            <span>{currencyNames || "None"}</span>
          </li>
          <li>
            <span>Languages:</span>
            <span>{Object.values(languages).join(", ")}</span>
          </li>
        </ul>
      </div>
      <div class="borders">
        <span>Border Countries:</span>
        <ul>
          {
            borders.length > 0 ? (
              borders.map((border, i) => {
                const link = `/country/${slugify(borderCountries[i])}`;
                return (
                  <li
                    class:list={[
                      borderCountries[i].length > 9 ? "long" : "",
                      borderCountries[i].length > 13 ? "very-long" : "",
                      borderCountries[i].length > 17 ? "extremely-long" : "",
                    ]}
                  >
                    <a href={link} class="link" title={borderCountries[i]}>
                      {borderCountries[i]}
                    </a>
                    <span>{border}</span>
                  </li>
                );
              })
            ) : (
              <li class="none">None</li>
            )
          }
        </ul>
      </div>
    </div>
  </div>
  <script>
    const backBtn = document.getElementById("back-btn");
    backBtn?.addEventListener("click", () => {
      window.history.back();
    });
  </script>
</div>
