---
// Importing necessary components and types
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { type Country } from "../../ts/types.ts";
import SearchBar from "../../components/SearchBar.astro";
import SelectBox from "../../components/SelectBox.astro";

export async function getStaticPaths() {
  // Defining the possible regions
  return [
    { params: { region: "africa" } },
    { params: { region: "americas" } },
    { params: { region: "asia" } },
    { params: { region: "europe" } },
    { params: { region: "oceania" } },
    { params: { region: "antarctic" } },
    { params: { region: "all" } },
  ];
}

const region = Astro.params.region;

const res =
  region === "all"
    ? await fetch("https://restcountries.com/v3.1/all")
    : await fetch(`https://restcountries.com/v3.1/region/${region}`);

const shuffledData = await res.json();
const data = shuffledData.sort((a: Country, b: Country) =>
  a.name.common > b.name.common ? 1 : -1
);
---

<Layout title={`${region.slice(0, 1).toUpperCase() + region.slice(1)}`}>
  <!-- Search bar and select box container -->
  <div class="search-container container">
    <!-- Search bar -->
    <SearchBar />
    <!-- Select box -->
    <SelectBox region={region} />
  </div>
  <!-- List of cards -->
  <div class="cards-container container">
    {
      data.map((country: Country) => (
        <Card
          countryName={country.name.common}
          flag={country.flags.png}
          capital={country.capital}
          population={country.population}
          region={country.region}
        />
      ))
    }
  </div>
</Layout>
