---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import dataExample from "../ts/example.js";
// const res = await fetch("http://localhost:3000/countries");
import { type Country } from "../ts/types";
// import dataInfo from "../../data.json";
// const shuffledData = dataInfo as unknown as Country[];

const res = await fetch("https://restcountries.com/v3.1/all");
const shuffledData = await res.json();
const data = shuffledData.sort((a: Country, b: Country) =>
  a.name.common > b.name.common ? 1 : -1
);
// const data: Country[] = dataExample;
---

<Layout title="Welcome to Astro.">
  <div id="main-page">
    <div class="search-container container">
      <div class="search-bar">
        <Icon id={"search-icon"} name={"search-icon"} />
        <form id="form">
          <input
            type="text"
            placeholder="Search for a country..."
            class="search-input"
            id="searchTerm"
            max="24"
          />
        </form>
      </div>
      <div class="select-box">
        <div class="select-box__current" tabindex="1">
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="0"
              value="1"
              name="Ben"
              checked="checked"
            />
            <p class="select-box__input-text">Filter by Region</p>
          </div>
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="1"
              value="2"
              name="Ben"
            />
            <p class="select-box__input-text">Africa</p>
          </div>
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="2"
              value="3"
              name="Ben"
            />
            <p class="select-box__input-text">Americas</p>
          </div>
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="3"
              value="4"
              name="Ben"
            />
            <p class="select-box__input-text">Asia</p>
          </div>
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="4"
              value="5"
              name="Ben"
            />
            <p class="select-box__input-text">Europe</p>
          </div>
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="5"
              value="6"
              name="Ben"
            />
            <p class="select-box__input-text">Oceania</p>
          </div>
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="6"
              value="7"
              name="Ben"
            />
            <p class="select-box__input-text">Antarctic</p>
          </div>
          <div class="select-box__value">
            <input
              class="select-box__input"
              type="radio"
              id="7"
              value="8"
              name="Ben"
            />
            <p class="select-box__input-text">All</p>
          </div>
          <img
            id="select-img-icon"
            class="select-box__icon"
            src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
            alt="Arrow Icon"
            aria-hidden="true"
          />
        </div>
        <ul class="select-box__list">
          <li>
            <label class="select-box__option" for="1" aria-hidden="true"
              >Africa</label
            >
          </li>
          <li>
            <label class="select-box__option" for="2" aria-hidden="true"
              >Americas</label
            >
          </li>
          <li>
            <label class="select-box__option" for="3" aria-hidden="true"
              >Asia</label
            >
          </li>
          <li>
            <label class="select-box__option" for="4" aria-hidden="true"
              >Europe</label
            >
          </li>
          <li>
            <label class="select-box__option" for="5" aria-hidden="true"
              >Oceania</label
            >
          </li>
          <li>
            <label class="select-box__option" for="6" aria-hidden="true"
              >Antarctic</label
            >
          </li>
          <li>
            <label class="select-box__option" for="7" aria-hidden="true"
              >All</label
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="cards-container container">
      {
        data &&
          data?.map((country: Country) => {
            if (country.name.common === "Israel") return;
            return (
              <Card
                countryName={country.name.common}
                capital={country.capital}
                flag={country.flags.png}
                population={country.population}
                region={country.region}
                class:list={"show"}
              />
            );
          })
      }
    </div>
  </div>
  <!-- Handle Search -->
  <script>
    document.addEventListener("astro:page-load", () => {
      const form = document.forms[0];
      const cards = document.querySelectorAll(".card");

      form?.addEventListener("keyup", (e: Event) => {
        e.preventDefault();
        const searchTerm = (e.target as HTMLFormElement).value;
        if (searchTerm.length === 0)
          return cards.forEach((card) => card.classList.add("show"));

        cards.forEach((card) => {
          if (card.id.toLowerCase().includes(searchTerm.toLowerCase())) {
            card.classList.add("show");
          } else {
            card.classList.remove("show");
          }
        });
      });
    });
  </script>

  <!--  -->
  <script>
    document.addEventListener("astro:page-load", () => {
      const continentInput = document.querySelectorAll("input[name=Ben]");
      const continentList = [
        "africa",
        "americas",
        "asia",
        "europe",
        "oceania",
        "antarctic",
        "all",
      ];
      const cards = document.querySelectorAll(".card");
      continentInput.forEach((input) => {
        input.addEventListener("change", (e) => {
          const selectedContinent =
            continentList[+(e.target as HTMLInputElement).value - 2];

          sessionStorage.setItem("continent", selectedContinent);
          if (selectedContinent === "all") {
            cards.forEach((card) => card.classList.add("show"));
          } else {
            cards.forEach((card) => {
              if (card.getAttribute("data-contient") === selectedContinent) {
                card.classList.add("show");
              } else {
                card.classList.remove("show");
              }
            });
          }
        });
      });
    });
  </script>
  <script is:inline>
    const cards = document.querySelectorAll(".card");
    if (selectedContinent === "all") {
      cards.forEach((card) => card.classList.add("show"));
    } else {
      cards.forEach((card) => {
        if (card.getAttribute("data-contient") === selectedContinent) {
          card.classList.add("show");
        } else {
          card.classList.remove("show");
        }
      });
    }
  </script>

  <!-- THEME -->
  <script is:inline>
    const selectedContinent = sessionStorage.getItem("continent");
    if (selectedContinent) {
      const continentList = [
        "africa",
        "americas",
        "asia",
        "europe",
        "oceania",
        "antarctic",
        "all",
      ];
      const continentInput = document.querySelectorAll("input[name=Ben]");
      continentInput.forEach((input) => {
        if (continentList[+input.value - 2] === selectedContinent) {
          input.checked = true;
        }
      });
      const cards = document.querySelectorAll(".card");
      if (selectedContinent === "all") {
        cards.forEach((card) => card.classList.add("show"));
      } else {
        cards.forEach((card) => {
          if (card.getAttribute("data-contient") === selectedContinent) {
            card.classList.add("show");
          } else {
            card.classList.remove("show");
          }
        });
      }
    }
  </script>
  <script>
    document.addEventListener("astro:page-load", () => {
      const selectedContinent = sessionStorage.getItem("continent");
      if (selectedContinent) {
        const continentList = [
          "africa",
          "americas",
          "asia",
          "europe",
          "oceania",
          "antarctic",
          "all",
        ];
        const continentInput = document.querySelectorAll(
          "input[name=Ben]"
        ) as NodeListOf<HTMLInputElement>;
        continentInput.forEach((input: HTMLInputElement) => {
          if (continentList[+input.value - 2] === selectedContinent) {
            input.checked = true;
          }
        });
        const cards = document.querySelectorAll(".card");
        if (selectedContinent === "all") {
          cards.forEach((card) => card.classList.add("show"));
        } else {
          cards.forEach((card) => {
            if (card.getAttribute("data-contient") === selectedContinent) {
              card.classList.add("show");
            } else {
              card.classList.remove("show");
            }
          });
        }
      }
    });
  </script>
</Layout>
