---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { type Country } from "../ts/types";

const contitentList = ["africa", "americas", "asia", "europe", "oceania"];
const randomContinent =
  contitentList[Math.floor(Math.random() * contitentList.length)];

const res = await fetch(
  "https://restcountries.com/v3.1/region/" + randomContinent
);
const data = await res.json();
---

<Layout title="Home">
  <div id="main-page">
    <div class="search-container container">
      <div class="search-bar">
        <Icon id={"search-icon"} name={"search-icon"} />
        <form id="form">
          <input
            type="text"
            placeholder="Search for a country..."
            class="search-input"
            id="searchTerm"
            max="24"
          />
        </form>
      </div>
      <div class="select-box">
        <div class="select-box__current" tabindex="1">
          <div class="select-box__value">
            <input class="select-box__input" type="radio" checked="checked" />
            <p class="select-box__input-text">Filter by Region</p>
          </div>
          <img
            id="select-img-icon"
            class="select-box__icon"
            src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
            alt="Arrow Icon"
          />
        </div>

        <ul class="select-box__list">
          <li>
            <a class="select-box__option" href="/region/africa">Africa</a>
          </li>
          <li>
            <a class="select-box__option" href="/region/americas">Americas</a>
          </li>
          <li>
            <a class="select-box__option" href="/region/asia">Asia</a>
          </li>
          <li>
            <a class="select-box__option" href="/region/europe">Europe</a>
          </li>
          <li>
            <a class="select-box__option" href="/region/oceania">Oceania</a>
          </li>
          <li>
            <a class="select-box__option" href="/region/antarctic">Antarctic</a>
          </li>
          <li>
            <a class="select-box__option" href="/region/all">All</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="cards-container container">
      {
        data &&
          data?.map((country: Country) => {
            if (country.name.common === "Israel") return;
            return (
              <Card
                countryName={country.name.common}
                capital={country.capital}
                flag={country.flags.png}
                population={country.population}
                region={country.region}
                class:list={"show"}
              />
            );
          })
      }
    </div>
  </div>
  <!-- Handle Search -->
  <script>
    const form = document.forms[0];
    const cards = document.querySelectorAll(".card");

    form?.addEventListener("keyup", (e: Event) => {
      e.preventDefault();
      const searchTerm = (e.target as HTMLFormElement).value;
      if (searchTerm.length === 0)
        return cards.forEach((card) => card.classList.add("show"));

      cards.forEach((card) => {
        if (card.id.toLowerCase().includes(searchTerm.toLowerCase())) {
          card.classList.add("show");
        } else {
          card.classList.remove("show");
        }
      });
    });
  </script>

  <!-- Handle filter by continent -->
  <!-- <script is:inline>
    const selectedContinent = sessionStorage.getItem("continent");
    const continentList = [
      "africa",
      "americas",
      "asia",
      "europe",
      "oceania",
      "antarctic",
      "all",
    ];
    const continentInput = document.querySelectorAll("input[name=Ben]");
    continentInput.forEach((input) => {
      console.log(continentList[+input.value - 2] === selectedContinent);
      if (continentList[+input.value - 2] === selectedContinent) {
        input.checked = true;
      }
    });
  </script> -->
  <script>
    document.addEventListener("astro:page-load", () => {
      const selectedContinent = sessionStorage.getItem("continent");
      const continentList = [
        "africa",
        "americas",
        "asia",
        "europe",
        "oceania",
        "antarctic",
        "all",
      ];
      const continentInput = document.querySelectorAll("input[name=Ben]");
      continentInput.forEach((input) => {
        if (
          continentList[+(input as HTMLInputElement).value - 2] ===
          selectedContinent
        ) {
          (input as HTMLInputElement).checked = true;
        }
      });
    });
  </script>
  <script>
    document.addEventListener("astro:page-load", () => {
      const continentInput = document.querySelectorAll("input[name=Ben]");
      const continentList = [
        "africa",
        "americas",
        "asia",
        "europe",
        "oceania",
        "antarctic",
        "all",
      ];
      continentInput.forEach((input) => {
        input.addEventListener("change", (e) => {
          const theSelectedContinent =
            continentList[+(e.target as HTMLInputElement).value - 2];

          sessionStorage.setItem("continent", theSelectedContinent);
        });
      });
    });
  </script>
  <!-- Handle filter by continent -->
  <!-- <script>
    document.addEventListener("astro:page-load", () => {
      const continentInput = document.querySelectorAll("input[name=Ben]");
      const continentList = [
        "africa",
        "americas",
        "asia",
        "europe",
        "oceania",
        "antarctic",
        "all",
      ];
      const cards = document.querySelectorAll(".card");
      continentInput.forEach((input) => {
        input.addEventListener("change", (e) => {
          const selectedContinent =
            continentList[+(e.target as HTMLInputElement).value - 2];

          sessionStorage.setItem("continent", selectedContinent);
          if (selectedContinent === "all") {
            cards.forEach((card) => card.classList.add("show"));
          } else {
            cards.forEach((card) => {
              if (card.getAttribute("data-contient") === selectedContinent) {
                card.classList.add("show");
              } else {
                card.classList.remove("show");
              }
            });
          }
        });
      });
    });
  </script>

  <script is:inline>
    const selectedContinent = sessionStorage.getItem("continent");
    if (selectedContinent) {
      const continentList = [
        "africa",
        "americas",
        "asia",
        "europe",
        "oceania",
        "antarctic",
        "all",
      ];
      const continentInput = document.querySelectorAll("input[name=Ben]");
      continentInput.forEach((input) => {
        if (continentList[+input.value - 2] === selectedContinent) {
          input.checked = true;
        }
      });
      const cards = document.querySelectorAll(".card");
      if (selectedContinent === "all") {
        cards.forEach((card) => card.classList.add("show"));
      } else {
        cards.forEach((card) => {
          if (card.getAttribute("data-contient") === selectedContinent) {
            card.classList.add("show");
          } else {
            card.classList.remove("show");
          }
        });
      }
    }
  </script>
  <script>
    document.addEventListener("astro:page-load", () => {
      const selectedContinent = sessionStorage.getItem("continent");
      if (selectedContinent) {
        const continentList = [
          "africa",
          "americas",
          "asia",
          "europe",
          "oceania",
          "antarctic",
          "all",
        ];
        const continentInput = document.querySelectorAll(
          "input[name=Ben]"
        ) as NodeListOf<HTMLInputElement>;
        continentInput.forEach((input: HTMLInputElement) => {
          if (continentList[+input.value - 2] === selectedContinent) {
            input.checked = true;
          }
        });
        const cards = document.querySelectorAll(".card");
        if (selectedContinent === "all") {
          cards.forEach((card) => card.classList.add("show"));
        } else {
          cards.forEach((card) => {
            if (card.getAttribute("data-contient") === selectedContinent) {
              card.classList.add("show");
            } else {
              card.classList.remove("show");
            }
          });
        }
      }
    });
  </script> -->
</Layout>
