---
// Import components
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SearchBar from "../components/SearchBar.astro";
import SelectBox from "../components/SelectBox.astro";
import { type Country } from "../ts/types";

// Define list of continents
const contitentList = ["africa", "americas", "asia", "europe", "oceania"];

// Select random continent
const randomContinent =
  contitentList[Math.floor(Math.random() * contitentList.length)];

// Fetch country data for selected continent
const res = await fetch(
  "https://restcountries.com/v3.1/region/" + randomContinent
);
const data = await res.json();
---

<!-- Main page layout -->
<Layout title="Home">
  <div id="main-page">
    <!-- Search bar -->
    <div class="search-container container">
      <!-- Search bar -->
      <SearchBar />

      <!-- Select box -->
      <SelectBox region="null" />
    </div>

    <!-- Country cards -->
    <div class="cards-container container">
      {
        data &&
          data?.map((country: Country) => {
            if (country.name.common === "Israel") return;
            return (
              <Card
                countryName={country.name.common}
                capital={country.capital}
                flag={country.flags.png}
                population={country.population}
                region={country.region}
                class:list={"show"}
              />
            );
          })
      }
    </div>
  </div>
</Layout>
